.menu {
  display: inline-flex;
  justify-content: space-between;
}
.menu h1 {
 font-size: 30px;
}

.link {
  display: inline-block;

}
.main {
  text-align: right;
}
.image {
  width: 700px;
  height: 400px;
  background:url(../img/firstview.jpeg) no-repeat ;
  text-align: right;

}
img{
  
}
h2 {
  font-size: 60px;
  font-weight: 500;
}
.under {
  background-color: blue;
  width: 900px;
  height: 158px;
}