.menu {
  width: auto;
  display: flex;
  justify-content: space-between;
  color: #25467e;
  margin: 10px 10px 0 10px;
}
.menu h1 {
 font-size: 25px;
}

.link {
  display: inline-block;
  font-weight: bold;
  margin: 10px;
}





.image {
  width: 50%;
  height: 450px;
  background:url(../img/firstview.jpeg) no-repeat;
  background-size: contain;

  margin-left: 650px;
  position: relative;
  top: 100px;
  
}

.fit {
  margin-top: -50px;
}

h2 {
  font-size: 60px;
  font-weight: 500;
}
.under {
  background-color:  #0d3170;
  width: 900px;
  height: 150px;
}

